body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
  }
  
  div {
    margin-top: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  

.output {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    transition: color 0.5s ease;
  }


  body {
    transition: background-color 0.5s ease; /* Smooth transition for background color */
  }

  input[type="range"] {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin-top: 20px;
  }
  